
<web-app xmlns="https://xmlns.jcp.org/xml/ns/javaee"
xmlns:xsi="https://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
version="4.0">
<display-name>book</display-name>
<context-param>
		<param-name>app.title</param-name>
		<param-value>Online Book Shop</param-value>
	</context-param>
	<context-param>
    <param-name>app.title</param-name>
    <param-value>Online Book Store</param-value>
</context-param>
<context-param>
    <param-name>color</param-name>
    <param-value>pink</param-value>
</context-param>
</web-app>